<!-- Team Section -->
    <section id="estimates" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Estimates</h2>
                    <h3 class="section-subheading text-muted">Have a design? <a href="#contact">Contact us</a> to schedule an estimate! </h3>
                    <h3 class="section-subheading text-muted">Still figuring things out? We can <a href="">recommended quality designers</a> that will help you through the process.</h3>
                </div>
            </div>
        </div>
    </section>