    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">{{site.data.site_settings.welcome}}</div>
                <div class="intro-heading">{{site.data.site_settings.welcome2}}</div>
                {%capture s %} {{site.data.site_settings.scroll_prompt | size | minus: 1}}{% endcapture %}
                {% unless s contains '-' %}
                <a href="#services" class="page-scroll btn btn-xl btn-primary btn-success">{{site.data.site_settings.scroll_prompt}}</a>
                {% endunless %}
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

